{% extends "base.html" %}

{% block title %} Статьи {% endblock %}

{% block content %}
  {% if article_id %}
    <h1>Статья номер {{ article_id }}. Тег {{ tags }}</h1>
    <div>
      {{ body }}
    </div>
  {% else %} 
    <h1>Articles</h1>
    {% for article in articles %}
      <h2><a href="{% url 'articles' %}{{ article.id }}">{{ article.name }}</a></h2>
      <div>{{ article.body|slice:":200" }}</div>
      <div>
        <a href="{% url 'articles_update' article.id %}">обновить статью</a>
        <form action="{% url 'articles_delete' article.id %}" 
          method="post" 
          onsubmit="return confirm('Are you sure you want to delete article? This action cannot be undone.');">
          {% csrf_token %}
          <input type="submit" value="Удалить">
        </form>
      </div>
        
    {% endfor %}
  {% endif %}
{% endblock %}